@use 'mixins' as *;
@use 'media' as *;
@use 'variables' as *;

.none {
	display: none !important;
}

.visually-hidden {
	@include visually-hidden;
}

.hidden-mobile {
	@include mobile {
		display: none !important;
	}
}

.visible-mobile {
	@include mobile-above {
		display: none !important;
	}
}

.no-scroll {
	overflow-y: hidden;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.d-flex {
	display: flex;
}

.flex-center {
	justify-content: center;
}

.bg-pink {
	background-color: var(--color-bg-pink);
}

.bg-blue {
	background-color: var(--color-bg-blue);
}

.bg-yellow {
	background-color: var(--color-bg-yellow);
}
